h2 {
	text-align: center;
	color:#fa5d4f;
}
h3 {
	color: #e8d64d;
}
body {
	margin: 0;
	background-color: #505362;
	color: #f0f3d4;
}

.ft {
	background-color: #505362;
	clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3rem), 0% 100%);
	padding-bottom: 3rem;
}

main {
	background-color: #7b967e;
	text-align: center;
	width: 100%;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

ul {
	list-style-type: none;
}

li {
	text-align: left;
}